* {
  padding: 0;
  margin: 0;
}
:root {
  --color1: #fe721b;
  --color2: #222277;
  --color3: #a2eac3;
  --color4: #e2a945;
  --color5: #65cfbd;
}

.container {
  height: 100vh;
  border: 3px solid #000;
  display: grid;
  padding: 20px;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.item:first-child {
  background-color: var(--color1);
  grid-column: span 2/ 3;
  grid-row: 1 / 2;
}
.item:nth-child(2) {
  background-color: var(--color4);
  grid-column: span 2/ 3;
  grid-row: 2/3;
}
.item:nth-child(3) {
  background-color: var(--color2);
  grid-column: 3/5;
  grid-row: 1 / 4;
}
.item:nth-child(4) {
  background-color: var(--color3);
  grid-column: 5/ 7;
  grid-row: 1/2;
}
.item:nth-child(5) {
  background-color: var(--color5);
  grid-column: 5/7;
  grid-row: 2/3;
}
.item:nth-child(6) {
  background-color: var(--color4);
  grid-column: 5/7;
  grid-row: 3/4;
}
.item:nth-child(7) {
  background-color: var(--color2);
  grid-column: 3/1;
  grid-row: 4/7;
}
.item:nth-child(8) {
  background-color: var(--color1);
  grid-column: 3/4;
  grid-row: 4/5;
}
.item:nth-child(9) {
  background-color: var(--color5);
  grid-column: 3/4;
  grid-row: 5/7;
}
.item:nth-child(10) {
  background-color: var(--color4);
  grid-column: 4/6;
  grid-row: 4/7;
}
.item:nth-child(11) {
  background-color: var(--color3);
  grid-column: 6/7;
  grid-row: 4/7;
}
